# Base de Dados Perfomace dos Estudantes

Este conjunto de dados contém informações abrangentes sobre 2.392 alunos do ensino médio, detalhando seus dados demográficos, hábitos de estudo, envolvimento dos pais, atividades extracurriculares e desempenho acadêmico. A variável alvo, GradeClass, classifica as notas dos alunos em categorias distintas, fornecendo um conjunto de dados robusto para pesquisa educacional, modelagem preditiva e análise estatística.

# Índice

## Informações do Estudante
- ID do estudante
- Detalhes Demográficos
- Hábitos de Estudo
- Envolvimento Parental
- Atividades Extracurriculares
- Desempenho Acadêmico
- Variável de Alvo: Classe de Grau

### ID do estudante
**StudentID:** Um identificador único atribuído a cada aluno (1001 a 3392).

### Detalhes Demográficos
- **Idade:** A idade dos alunos varia de 15 a 18 anos.
- **Gênero:** Gênero dos alunos, onde 0 representa o Masculino e 1 representa o Feminino.
- **Etnia:** A etnia dos alunos, codificada da seguinte forma:
  - 0: Caucasiano
  - 1: Afro-americano
  - 2: Asiático
  - 3: Outros
- **Educação Parental:** O nível de escolaridade dos pais, codificado da seguinte forma:
  - 0: Nenhum
  - 1: Ensino Médio
  - 2: Alguns Colégio
  - 3: Bacharelado
  - 4: Mais alto

### Hábitos de Estudo
- **StudyTimeWeekly:** Tempo de estudo semanal em horas, variando de 0 a 20.
- **Ausências:** Número de ausências durante o ano letivo, variando de 0 a 30.
- **Tutoria:** Status de tutoria, onde 0 indica Não e 1 indica Sim.

### Envolvimento Parental
- **Suporte Parental:** O nível de apoio parental, codificado da seguinte forma:
  - 0: Nenhum
  - 1: Baixo
  - 2: Moderado
  - 3: Alto
  - 4: Muito Alto

### Atividades Extracurriculares
- **Extracurricular:** Participação em atividades extracurriculares, onde 0 indica Não e 1 indica Sim.
- **Esportes:** Participação em esportes, onde 0 indica Não e 1 indica Sim.
- **Música:** Participação em atividades musicais, onde 0 indica Não e 1 indica Sim.
- **Voluntariado:** Participação no voluntariado, onde 0 indica Não e 1 indica Sim.

### Desempenho Acadêmico
- **GPA:** Média de Pontos de Grau em uma escala de 2,0 a 4,0, influenciada pelos hábitos de estudo, envolvimento dos pais e atividades extracurriculares.

### Variável de Alvo: Classe de Grau
**GradeClass:** Classificação das notas dos alunos com base no GPA:
- 0: 'A' (GPA >= 3.5)
- 1: 'B' (3.0 <= GPA < 3.5)
- 2: 'C' (2.5 <= GPA < 3.0)
- 3: 'D' (2.0 <= GPA < 2.5)
- 4: 'F' (GPA < 2.0)

# Conclusão

Este conjunto de dados oferece uma visão abrangente dos fatores que influenciam o desempenho acadêmico dos alunos, tornando-o ideal para pesquisa educacional, desenvolvimento de modelos preditivos e análise estatística.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("Student_performance_data _.csv")
df.sample(5)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
2168,3169,16,0,2,2,1.165944,17,1,1,1,1,0,1,1.635687,4.0
874,1875,16,1,0,4,2.546238,16,0,2,0,1,1,0,1.689673,4.0
2218,3219,18,0,0,3,7.560621,12,0,0,0,0,0,0,1.287819,3.0
2290,3291,16,0,3,2,18.515771,11,0,1,0,0,0,0,2.569614,0.0
1562,2563,18,1,0,1,1.796515,11,1,2,0,0,0,1,1.798015,4.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [7]:
df.shape

(2392, 15)

In [8]:
df.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64